{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% trans "Sales" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-sales{% endblock %}

{% block menu_sales_class %}active{% endblock %}
 {% block custom_css %}
 <link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
 <link href="{% static 'backend/js/plugins/pickers/wickedpicker/src/wickedpicker.css' %}" rel="stylesheet" type="text/css">
 <link href="{% static 'backend/js/plugins/pickers/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     .table{border:1px solid #ccc}
     .disc-label{border-radius:50px 50px; padding:4px 10px;vertical-align:middle;}
   </style>
 {% endblock %}
{% block breadcrumbs %} 
<li class="visible-s"><a href="{% url 'dashboard:sale-list' %}">{% trans "Discounts" context "Dashboard sales (discounts) list." %}</a>
    </li>
 
{% endblock %}

{% block menu_discounts_class %} active{% endblock %}

{% block content %}
 <div class="row">

   <div class="col-md-12">
      <div class="panel panel-flat">

        <div class="panel-body search-panel">
            <div class="col-md-2">
              <label style="visibility: hidden;"> add</label>
              <div class="form-group">
                {% if perms.discount.add_voucher %}
                    <a id="toggle-add-form" onclick="return false;" data-href="{% url 'dashboard:sale-add' %}" class="btn btn-primary hvr-glow btn-raised legitRipple"  title="{% trans 'Add sale' context 'Sale (discount) list add button text' %}">
                      <i class="icon-plus2 position-left"></i>
                      {% trans "Add" context "Dashboard add action" %}
                    </a>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6">
             <label>Search Reward</label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control search_user" placeholder="Search Reward" type="text">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2 hidden">
              <label>display list size</label>
              <div class="form-group">
                  <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
            <!-- add form -->
            <div class="col-md-12">
                 <div id="toggle-div" class="col-md-12" style="display: none;">
                     <form class="form" enctype="multipart/form-data" id="sale-details" name="sale-details">
                         {% csrf_token %}
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="form-group">
                                     <label for="id_name">Discount Name</label>
                                     <input type="text" placeholder="Discount Name" id="id_name" class="form-control" name="name">
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div class="form-group">
                                     <label for="id_quantity">Quantity</label>
                                     <input type="text" placeholder="quantity" id="id_quantity" class="form-control" name="quantity">
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div class="form-group">
                                     <label for="id_value">For Price</label>
                                     <input type="number" placeholder="Value" id="id_value" class="form-control" name="value">
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div class="form-group">
                                     <label for="id_type">Type</label>
                                     <select name="type" class="form-control bootstrap-select validate" required="" id="id_type">
                                         <option>---</option>
                                         <option value="fixed">KES</option>
                                         <option value="percentage">%</option>
                                     </select>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                            <div class="col-md-4">
                                 <div class="form-group">
                                     <label for="id_period">Period</label>
                                     <select name="type" class="form-control bootstrap-select period" required="" id="id_period">
                                         <option>---</option>
                                         <option value="day">Day</option>
                                         <option value="date">Date</option>
                                         <option value="range">Range</option>
                                     </select>
                                 </div>
                             </div>
                             <div class="col-md-2 hidden" id="start_date_div">
                                 <div class="form-group">
                                     <label for="id_start_date">From</label>
                                     <input type="text" class="form-control datepicker" placeholder="Start date" id="id_start_date" name="start_date">
                                 </div>
                             </div>
                             <div class="col-md-2 hidden" id="end_date_div">
                                 <div class="form-group">
                                     <label for="id_end_date">To</label>
                                     <input type="text" class="form-control datepicker" placeholder="End date" id="id_end_date" name="end_date">
                                 </div>
                             </div>
                             <div class="col-md-4 hidden" id="date_div">
                                 <div class="form-group">
                                     <label for="id_date">Date</label>
                                     <input type="text" class="form-control datepicker" placeholder="End date" id="id_date" name="date">
                                 </div>
                             </div>
                             <div class="col-md-4" id="day_div">
                                 <div class="form-group">
                                     <label for="id_name">Day</label>
                                     <select name="type" class="form-control bootstrap-select day" required="" id="id_day">
                                         <option>---</option>
                                         <option value="Monday">Monday</option>
                                         <option value="Tuesday">Tuesday</option>
                                         <option value="Wednesday">Wednesday</option>
                                         <option value="Thursday">Thursday</option>
                                         <option value="Friday">Friday</option>
                                         <option value="Saturday">Saturday</option>
                                         <option value="Sunday">Sunday</option>
                                     </select>
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div class="form-group">
                                     <label for="id_name">Start Time</label>
                                     <input type="text" name="start_time" class="form-control timepicker" id="id_start_time"/>
                                 </div>
                             </div>
                             <div class="col-md-2">
                                 <div class="form-group">
                                     <label for="id_name">End Time</label>
                                     <input type="text" name="end_time" class="form-control timepicker" id="id_end_time"/>
                                 </div>
                             </div>

                         </div>

                         <div class="row">
                             <div class="col-md-12">
                                 <div class="form-group">
                                     <label for="id_name">Product(s)</label>
                                     <select id="variants" multiple=""></select>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-12">
                                 <button class="btn btn-xs btn-primary hvr-glow btn-raised legitRipple waves-effect
                                 waves-light" id="createDiscountBtn" onclick="return false;"
                                         data-token="{% csrf_token %}"
                                         data-createurl="{% url 'dashboard:create-discount' %}"
                                         type="submit">
                                     Add <i class="icon-arrow-right14 position-right"></i>
                                 </button>
                             </div>
                         </div>
                     </form>
              </div>
            </div>
            <!-- ./add form -->

        </div>
      </div>
   </div>

    <div class="col-md-12">
      <div id="pagination-div">
        <div class="panel panel-flat">
          <div class='panel-body'>
          <div class="table-responsives">
            <table class="table responsive data-table">
              <thead>
                <tr class="bg-primary">
                  <th>
                    {% trans "Name" context "Sale (discount) table header" %}
                  </th>
                  <th>
                    {% trans "Discount" context "Sale (discount) table header" %}
                  </th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% if sales %}
                  {% for sale in sales %}
                    <tr class="clickable-row" data-href="{% url 'dashboard:sale-update' pk=sale.pk %}">
                      <td class='td'  data-href="{% url 'dashboard:sale-update' pk=sale.pk %}">
                        {{ sale }}
                      </td>
                      <td class='td' data-href="{% url 'dashboard:sale-update' pk=sale.pk %}">
                        {{ sale.value }}{{ sale.get_type_display }}
                      </td>
                      <!-- actions -->
                      <td >
                        <div class='btn-group'>
                          <button class='btn dropdown-toggle' data-toggle='dropdown'>Action <i class='glyphicon glyphicon-caret-down'></i></button>
                          <ul class='dropdown-menu pull-right'>
                             <li><a href="{% url 'dashboard:discount-detail' pk=sale.pk %}"><i class='glyphicon glyphicon-eye-open'></i> DETAIL</a></li>
                            <li><a  href="{% url 'dashboard:sale-update' pk=sale.pk %}"><i class='glyphicon glyphicon-edit'></i> EDIT</a></li>
                            
                            <li><a onclick="return false;" class="delete-discount" data-title="{{sale.name}}" data-href="{% url 'dashboard:sale-delete' pk=sale.pk %}" ><i class='glyphicon glyphicon-trash'></i> DELETE</a></li>
                          </ul>
                        </div>                     
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                <tr>
                  <td>
                    <h2 class="text-center">
                      {% trans "No Discount available" context "Empty sales table message" %}
                    </h2>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
            {% if sales %}
           <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
            {% endif %}

        </div>
      </div>
    </div>
 </div>
 <input type="hidden" data-variants="{% url 'dashboard:token-search-variants' %}" data-refreshtable="{% url 'dashboard:discount_search' %}" data-curl="{% url 'dashboard:message-contacts' %}" class="pageUrls" data-redirect="{% url 'dashboard:sale-list' as url %}" id='pageUrls' name="pageUrls"
 >
  {% include "dashboard/includes/_pagination.html" %}
  {% include "dashboard/includes/_modal_template.html"  %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/wickedpicker/src/wickedpicker.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/pickers/bootstrap_datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_curlmultiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/discount/discount.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        //startDate: new Date(),
        autoclose: true
    });

    $('.timepicker').wickedpicker();

    $('.period').on('change', function(){
        var selected = $('.period option:selected').val();
        if(selected == "date"){
            $('#date_div').removeClass('hidden');
            $('#start_date_div').addClass('hidden');
            $('#end_date_div').addClass('hidden');
            $('#day_div').addClass('hidden');

            // refresh the other to be null
            $("#id_day").val('none');
            $("#id_day").selectpicker("refresh");

            $("#id_start_date").val("");
            $("#id_end_date").val("");
        }else if(selected == "range"){
            $('#date_div').addClass('hidden');
            $('#start_date_div').removeClass('hidden');
            $('#end_date_div').removeClass('hidden');
            $('#day_div').addClass('hidden');

            // refresh others to be null
            $("#id_day").val('none');
            $("#id_day").selectpicker("refresh");

            $("#id_date").val("");
        }else if(selected == "day"){
            $('#date_div').addClass('hidden');
            $('#start_date_div').addClass('hidden');
            $('#end_date_div').addClass('hidden');
            $('#day_div').removeClass('hidden');

            // refresh others to be null
            $("#id_start_date").val("");
            $("#id_end_date").val("");
            $("#id_date").val("");
        }
    });

    var toggleBtn = $('#toggle-add-form');
    var toggleDiv = $('#toggle-div');
    var addurl = toggleBtn.data('href');

    toggleBtn.on('click',function(){
      toggleDiv.slideToggle('slow');
    });

      $(".td").click(function() {
            window.location = $(this).data("href");
        });

        //**@ display size select
        $('.list-sz').selectpicker().on('change', function(){
            var ts = $(this).val();
            $.ajax({ url: "{% url 'dashboard:discount_pagination' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        });

        $('.bootpag-callback').bootpag({
            total: parseInt({{pn}}),
            maxVisible: 4,
            firstLastUse: true,
            first: 'First',
            last: 'Last',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',

            }).on("page", function(event, num){
                $(".pages-nav").html("Page " + num +" of "+pagination_totalsize); // or some ajax content loading...
                $.get("{% url 'dashboard:discount_pagination' %}",{page:num},function(data){
                   $('#tb').html(data);
                });
        }).children('.pagination').addClass('pagination-flat pagination-sm')


      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      $('.search_user').keyup(function() {
        var search_text = $(this).val();
        delay(function(){
           var url = "{% url 'dashboard:discount_search' %}";
           $.ajax({ url:url, type: 'GET',data: {page:1, q:search_text},success: function(data){
                  $('#pagination-div').html(data);
           }});
        }, 500 );

      });

 });



</script>
{% endblock %}
