@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    .yes-print {
        display: block !important;
    }
    .bg-primary {
      background-color: blue;
    }
    .__react_component_tooltip {
        display: none !important;
    }
}